﻿@model GuiApps.Web.Models.BookViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>BookViewModel</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
    <p>Название: @Model.Name</p>
    <p>Автор: @Model.Author</p>
    <p>Жанр: @Model.Genre</p>
    <p>Год: @Model.Year</p>
</div>
