﻿@model GuiApps.Web.Models.BookViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>BookViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="@nameof(Model.Name)"></label>
                <input type="text" name="@nameof(Model.Name)" value="@Model.Name" />
            </div>
            <div class="form-group">
                <label for="@nameof(Model.Author)"></label>
                <input type="text" name="@nameof(Model.Author)" value="@Model.Author" />
            </div>
            <div class="form-group">
                <label for="@nameof(Model.Genre)"></label>
                <input type="text" name="@nameof(Model.Genre)" value="@Model.Genre" />
            </div><div class="form-group">
                <label for="@nameof(Model.Year)"></label>
                <input type="text" name="@nameof(Model.Year)" value="@Model.Year" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
